/* app.component.scss */

.app-container {
  display: flex;
  height: 100vh;
}

/* Make sidebar fixed width */
app-sidebar {
  width: 250px;
  min-width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #b8e4c9; /* Light green color */
  z-index: 1001; /* Higher than navbar */
}

/* Adjust main content area to not overlap with navbar and sidebar */
.content {
  margin-left: 290px; /* Equal to sidebar width */
  margin-top: 20px; /* Equal to navbar height */
  padding: 20px;
  // background-color: #f5f5f5;
  width: calc(100% - 250px);
  min-height: auto;
}
