<app-header></app-header>
<div class="financial-management-page">
  <h2 class="page-title">Financial Management</h2>

  <div class="nav-tabs">
    <button 
      class="nav-tab" 
      [class.active]="activeTab === 'payments'" 
      (click)="setActiveTab('payments')">
      Payments
    </button>
    <button 
      class="nav-tab" 
      [class.active]="activeTab === 'incentives'" 
      (click)="setActiveTab('incentives')">
      Incentives
    </button>
     <button 
      class="nav-tab" 
      [class.active]="activeTab === 'payment-history'" 
      (click)="setActiveTab('payment-history')">
      Payment History
    </button>
    
  </div>

  <div class="tab-content">
    <div *ngIf="activeTab === 'payments'">
      <app-payment></app-payment>
    </div>
    <div *ngIf="activeTab === 'incentives'">
      <app-incentive></app-incentive>
    </div>
     <div *ngIf="activeTab === 'payment-history'">
      <app-payment-history></app-payment-history>
    </div>
  </div>
</div>