<div class="page-container">
  <header class="page-header">
    <h1>Create New Route Yield</h1>
  </header>
  <form [formGroup]="yieldForm" (ngSubmit)="submitForm()" class="form-wrapper">
    <div class="form-group">
      <label for="rId">Route</label>
      <select id="rId" formControlName="rId">
        <option [ngValue]="null" disabled>Select a Route...</option>
        @for(route of routes; track route.rId) {
          <option [ngValue]="route.rId">{{ route.rName }}</option>
        }
      </select>
      @if (yieldForm.get('rId')?.invalid && yieldForm.get('rId')?.touched) {
        <div class="error-message">A route is required.</div>
      }
    </div>

    <div class="form-group">
      <label for="collected_Yield">Collected Yield (Kg)</label>
      <input id="collected_Yield" formControlName="collected_Yield" type="text"/>
      @if (yieldForm.get('collected_Yield')?.invalid && yieldForm.get('collected_Yield')?.touched) {
        <div class="error-message">Collected Yield is required.</div>
      }
    </div>

    <div class="form-group">
      <label for="golden_Tips_Present">Golden Tips Present</label>
      <select id="golden_Tips_Present" formControlName="golden_Tips_Present">
        <option value="false">No</option>
        <option value="true">Yes</option>
      </select>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn-primary" [disabled]="yieldForm.invalid">Submit Yield</button>
    </div>
  </form>
</div>