<div class="sidebar">
    <div class="sidebar-header">
      <h2>Planning Route</h2>
      <div class="profimg">
        <img [src]="imglink" alt="">
      </div>
       
      <div class="user-info">
        <span><b>Tharusha Rayan</b></span>
        <span>Admin</span>
      </div>
    </div>
  
    <nav>
      <ul>
        <li>
          <span class="icon">🏠</span>
          <span class="text">Dashboard</span>
        </li>
        <li>
          <span class="icon">👥</span>
          <span class="text">Suppliers</span>
        </li>
        <li>
          <span class="icon">🚚</span>
          <span class="text">Collector</span>
        </li>
        <li>
          <span class="icon">📊</span>
          <span class="text">Ledger Management</span>
        </li>
        <li>
          <span class="icon">🍃</span>
          <span class="text">Green Leaf Collection</span>
        </li>
        <li>
          <span class="icon">⚙️</span>
          <span class="text">Process Management</span>
        </li>
        <li>
          <span class="icon">📈</span>
          <span class="text">Track Route Yield</span>
        </li>
        <li>
          
          <span class="icon">🚛</span>
          <span class="text"><a [routerLink]="'/cost-management'">Roles and Transportation</a>
          </span>
        </li>
        <li>
          <span class="icon">💳</span>
          <span class="text">Cost Management</span>
        </li>
        <li>
          <span class="icon">📄</span>
          <span class="text">Perform Monitering</span>
        </li>
        <li class="lastli">
          
          <span class="text">Logout</span>
          <span class="icon">🚪</span>
        </li>
      </ul>
    </nav>
  </div>