<!-- <nav id="sidebar" class="navbar bg-body-tertiary vh-100 flex-column justify-content-start">
    <div class="container-fluid justify-content-center p-1">
      <a class="navbar-brand h1 fw-bold text-success mb-3" routerLink="/dashboard">
        Auth EC
      </a>


      <div id="main">
        <nav class="navbar bg-body-tertiary">
          
            
            <button class="btn btn-dark" (click)="onLogout()">Logout</button>
          
        </nav>
        <div class="mt-5 p-5">
          <router-outlet />
        </div>
      </div>
     -->